body {
  background-color: lightgray;
}

.navbar {
  background-color: rosybrown;
  text-align: center;
  border-style: none;

}

#nav-header {
  color: darkslateblue;
  font-size: 24pt;

}

#map-col {
  padding-top: 80px;
}

#app {
  padding-top: 80px;

}


